{% extends 'base.html.twig' %}

{% block body %}
<div class="form">
        
        {{ form_start(form, { 'attr' : { 'class': 'form-group' } }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
</div>
{% endblock %}
