{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-striped" id="users">
    <tr>
        <th  onclick="sortTable(0);">Date</th>
        <th  onclick="sortTable(1);">Name</th>
        <th  onclick="sortTable(2);">Email</th>
        <th>Categories</th>
        <th>Actions</th>
    </tr>
{% for user in users %}
    <tr>
        <td>{{ user.date }}</td>
        <td>{{ user.user_name }}</td>
        <td>{{ user.user_email }}</td>
        <td>
             <ul>
                {% for cat in user.categories.category %}
                      <li>
                        {{categories[cat|number_format]}} 
                      </li>
                {% endfor %}
             </ul>
        </td>
         <td>
             <div class="edit">
                  <a href="{{ path('edit',{'email':user.user_email}) }}">Edit</a>
             </div>
             <div class="delete">
                  <a href="{{ path('remove',{'email':user.user_email}) }}">Delete</a>
             </div>
         </td>
</tr>
{% endfor %}
</table>
<script>
  function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("users");
  switching = true;
  
  dir = "asc"; 
  
  while (switching) {
   
    switching = false;
    rows = table.getElementsByTagName("TR");
    
    for (i = 1; i < (rows.length - 1); i++) {
      
      shouldSwitch = false;
      
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
         
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
         
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      
      switchcount ++; 
    } else {
     
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}  
    

</script>
{% endblock %}