{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('admin') }}">Admin Panel</a>
    <div class="form">
        
        {{ form_start(form, { 'attr' : { 'class': 'form-group' } }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        *Hold ctrl to select more than one category
    </div>

{% endblock %}


